.chats-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.chat-input-field {
  width: 80%;
  margin-top: auto;
  margin-bottom: 2%;
}

.sent-message,
.received-message {
  width: 100%;
  clear: both;
}

.sent-message {
  text-align: right;
}

.received-message {
  text-align: left;
}
