.comments-container {
  margin-bottom: 1em;

  .comments-header {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #333;
  }
}

.comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  background-color: #e0f7ff;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-username-container {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.like-counter-container {
  display: flex;
  align-items: center;
}

.commenter-photo {
  font-size: 0.7em;
  margin-bottom: 0.5em;
  border-radius: 4em;
  border: 1px solid #333;
}

.commenter-username {
  margin-left: 0.5em;
  font-weight: bold;
  color: #333;
}

.comment-content {
  flex-grow: 1;
  margin-right: 1em;
  font-size: 1em;
  color: #333;
}

.likes-count {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: #333;
}

