.add-profile-info-container {

}

.from-container, .aboutme-container {
  width: 100%;
  display: block;
  padding-bottom: 4em;
}

.profile-photo {
  width: 8em;
  height: 8em;  
  object-fit: cover;
  object-position: 50% 50%; 
  border-radius: 8em;
}

.add-profile-info-label {
  color: red;
  font-size: 1em;
}

.add-profile-info-input-from {
  width: 20%;
  height: 2em;
}

.add-profile-info-button {
  width: 6%;
  height: 1.9em;
  border-radius: 1em;
  margin-left: 1%;
}