.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post-container {
  border: 3px solid black;
  border-radius: 12px;
  background-color: #FFCBA4;
  width: 45%;
  margin: auto;
  margin-bottom: 1%;
  padding: 0.5%;
  animation: fadeIn 1s forwards;

  .first-line-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    .profile-picture {
      font-size: 2rem;
    }
    
    .username {
      font-weight: bold;
    }
    
    .city {
      display: flex;
      align-items: center;
      font-style: italic;
      font-weight: bold;

      .location-icon {
        font-size: 2em;
        margin-right: 0.3em;
      }
    }
    
    .time {
      font-size: 0.8rem;
    }
  }
  
  .thoughts, .rain, .temperature, .precipitation, .windspeed, .radiation, .cloudcover, .posted-at {
    width: 100%;
  }

  .profile-photo {
    width: 4em !important;
    height: 4em !important;  
    object-fit: cover;
    object-position: 50% 50%; 
    border-radius: 8em;
  }

}