.request-notification-page-container {
  padding: 2em;
}

.request-container {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 50%;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: rgba(135, 206, 235, 0.2);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(135, 206, 235, 0.4);
  }
}

.profile-photo {
  width: 4em !important;
  height: 4em !important;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 8em;
  cursor: pointer;
}

.requester-username {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
    color: #1e90ff;
  }
}

.accept-request-button {
  position: absolute;
  right: 50%;
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #2172c2;
  }
}

.go-back-button {
  background-color: #FFA726;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 2em;

  &:hover {
    background-color: #2172c2;
  }
}
