.search-bar-container {
  height: 100%;
  border-color: #4a90e2;
}

.search-prompt {
  color: white;
}

.search-bar {
  width: 40%;
  height: 2em;
  border: 2px solid #333;
  border-radius: 0.5em;
  padding: 0.25em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.search-item {
  display: flex;
  align-items: center;
}

.search-username {
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 0.5em;
}

.profile-photo.myprofile-photo {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}
