.sidebar-container {
  margin-top: 2em;
  border-top: 1px solid black;
}

.individual-chat {
  display: flex;
  width: 20%;
  border-bottom: 1px solid black;
  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.chat-profile-photo-container {
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.chat-profile-photo {
  width: 4em;
  height: 4em; 
  object-fit: cover;
  object-position: 50% 50%; 
  border-radius: 8em;
  &:hover {
    cursor: pointer;
  }
}

.chat-other-user-username {
  margin-left: 10%;
  margin-top: 1.7em;
}