.sidebar-container {
  width: 20%;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.individual-chat,
.individual-selected-chat {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 5px;
}

.individual-chat:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.individual-selected-chat {
  background-color: #4a90e2;
  color: #fff;
}

.individual-selected-chat:hover {
  cursor: pointer;
}

.chat-profile-photo-container {
  margin-left: 0.5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.chat-profile-photo {
  width: 4em;
  height: 4em; 
  object-fit: cover;
  object-position: 50% 50%; 
  border-radius: 8em;
  &:hover {
    cursor: pointer;
  }
}

.chat-other-user-username {
  margin-left: 10%;
  margin-top: 1.3em;
  font-weight: bold;
}