.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 2%;
}

.weather-metric {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1%;
}

.metric-div {
  display: flex;
  align-items: center;
}

.metric-data {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  margin-left: 8px;
  color: #ffffff;
  font-weight: bold;  
}

@mixin my-icon {
  font-size: 2em;
  padding: 0.2em;
  border: 1px solid #ddd;
  background-color: #ddd;
  border-radius: 30px;
}

.rain-icon {
  @include my-icon;
  color: blue
}

.temperature-icon {
  @include my-icon;
  color: red;
}

.precipitation-icon {
  @include my-icon;
}

.wind-icon {
  @include my-icon;
  color: white;
}

.radiation-icon {
  @include my-icon;
  color: orange;
}

.cloudcover-icon {
  @include my-icon;
}

.add-info-button {
  height: 2.5em;
  width: 2.5em;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    cursor: pointer;
    background-color: rgb(51, 153, 51);
  }
}

.add-info-icon {
  font-size: 1.5em;
  color: #333;
}

.add-info-icon-selected {
  font-size: 1.5em;
  color: #4a90e2;
}

.submit-post-button {
  font-size: 1.2em;
  border: none;
  background-color: rgb(217, 212, 212);
  border-radius: 12px;
  
  &:hover {
    cursor: pointer;
    background-color: #4a90e2;
    color: #ffffff;
  }
}

.share-thoughts-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding-right: 0.5em;
  color: #ffffff;
}

.share-thoughts-input {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 0.3em;
}

