label {
  font-size: 2em;
}

input {
  height: 3vh;
  width: 50%;
  border-radius: 12px;
  margin-left: 2%;
}

.info-container {
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
}

.weather-metric {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1%;
}

.metric-div {
  display: flex;
  align-items: center;
}

.metric-data {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  margin-left: 8px;
}

@mixin my-icon {
  font-size: 2em;
  padding: 0.2em;
  border: 1px solid rgb(217, 212, 212);
  background-color: rgb(217, 212, 212);
  border-radius: 30px;
}

.rain-icon {
  @include my-icon;
  color: blue
}

.temperature-icon {
  @include my-icon;
  font-size: 2em;
  color: red;
}

.precipitation-icon {
  @include my-icon;
}

.wind-icon {
  @include my-icon;
  color: white;
}

.radiation-icon {
  @include my-icon;
  color: orange;
}

.cloudcover-icon {
  @include my-icon;
}

.add-info-button {
  height: 2em;
  width: 2em;
  background-color: orange;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.add-info-icon {
  font-size: 2em;
  background-color: orange;
  border: none;
  &-selected {
    @extend .add-info-icon;
    color: rgb(51, 153, 51);
  }
}

.submit-post-button {
  font-size: 1.5em;
  margin-left: 1%;
  border: 1px solid rgb(217, 212, 212);
  background-color: rgb(217, 212, 212);
  border-radius: 12px;
  transition: ease-out 0.3s;
  &:hover {
    cursor: pointer;
    border: 1px solid green;
    background-color: green;
    transform: scale(1.05);
  }
}